{{ if type == 'editor' }}
  {{ partial:components/blocks/editor }}
{{ /if }}

{{ if type == 'slideshow_fullscreen' }}
  {{ partial:media/slideshow_fullscreen }}
{{ /if }}

{{ if type == 'intro_homepage' }}
  {{ partial:components/blocks/intro_homepage }}
{{ /if }}

{{ if type == 'intro_content' }}
  {{ partial:components/blocks/intro_content }}
{{ /if }}

{{ if type == 'page_teaser' }}
  {{ partial:components/blocks/page_teaser }}
{{ /if }}

{{ if type == 'event_teaser' }}
  {{ partial:components/blocks/event_teaser }}
{{ /if }}

{{ if type == 'video' }}
  {{ partial:components/blocks/video }}
{{ /if }}