/**
 * Typography - Webfonts
 * -----------------------------------------------------------------------------
 */

@font-face {
  font-family: 'Calibre-Bold';
  src: url('fonts/Calibre-Bold.woff2') format('woff2'), url('fonts/Calibre-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Calibre-Semibold';
  src: url('fonts/Calibre-Semibold.woff2') format('woff2'), url('fonts/Calibre-Semibold.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Calibre-Regular';
  src: url('fonts/Calibre-Regular.woff2') format('woff2'), url('fonts/Calibre-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
