<footer class="theme-white py-30 lg:py-40 border-t-2 border-black">
  {{ partial:layout/inner }}
    {{ partial:layout/grid }}
      <div class="md:col-span-full lg:col-span-10">
        <div class="flex flex-col gap-y-30 md:gap-y-0 lg:gap-x-60 xl:gap-x-120 md:flex-row justify-between lg:justify-start">
          <div>
            <h2>{{ contact_information:name }}<br>{{ contact_information:byline }}</h2>
            {{ if contact_information:address }}
              <address class="not-italic">
                {{ if contact_information:google_maps_url }}
                  <a href="{{ contact_information:google_maps_url }}" target="_blank" title="Auf Google Maps anzeigen">
                    {{ contact_information:address | nl2br }}
                  </a>
                {{ else }}
                  {{ contact_information:address | nl2br }}
                {{ /if }}
              </address>
            {{ /if }}
            {{ if contact_information:phone }}
              <div>
                <a href="tel:{{ contact_information:phone }}" target="_blank" title="Rufen Sie uns an!">
                  {{ contact_information:phone }}
                </a>
              </div>
            {{ /if }}
            {{ if contact_information:email }}
              <div>
                <a href="mailto:{{ contact_information:email }}" target="_blank" title="Schreiben Sie uns!">
                  {{ contact_information:email }}
                </a>
              </div>
            {{ /if }}
          </div>
          <div>
            <h2>Öffnungszeiten</h2>
            {{ opening_hours:opening_hours | nl2br }}
          </div>
          <div>
            <h2>Newsletter</h2>
            <p>Abonnieren Sie unseren Newsletter<br>und bleiben Sie informiert!</p>
            {{ partial:components/buttons/secondary 
              url="https://200d5590.sibforms.com/serve/MUIFAC6jX-61pU1LCqD_8ssjX5RSEfYMgQz_VShNKJTE63DuIEplPPwgShA13kwX7iAFwDClljDiGcAhQnyGovZO9jLN1bzgHajztkbA-Hy-s7dxTimlAK6YmnRAnJ5W6-ZPpqT4Z0TG2CfTjpWYzGMtzArfN01IkpocqcPWlH8x7zn7msTS9Wv0N3YnUNyUQVtZ7EeAqVT5Y4-A"
              label="Newsletter abonnieren" 
              target="_blank"
              is_button="false"
              class="mt-10" }}
          </div>
        </div>
        <div class="mt-40">
          <div class="flex space-x-15 lg:space-x-30">
            {{ quicklinks:links }}
              <div>
                {{ partial:components/buttons/primary label="{{ label }}" url="{{ url }}" }}
              </div>
            {{ /quicklinks:links }}
          </div>
        </div>
      </div>
      <div class="md:mt-30 lg:mt-0 md:col-span-6 lg:col-span-2 lg:flex lg:flex-col lg:items-end">
        <div>
          {{ partial:components/blocks/socials }}
        </div>
        <nav class="mt-20 lg:mt-0">
          <ul class="flex lg:flex-col lg:gap-y-2 lg:mt-20 gap-x-15 lg:gap-x-0">
            {{ nav:footer }}
              <li>
                <a 
                  href="{{ url }}" 
                  title="{{ title }}" 
                  target="{{ is_external ? '_blank' : '_self' }}"
                  class="block hover:underline underline-offset-2 lg:text-right">
                  {{ title }}
                </a>
              </li>
            {{ /nav:footer }}
          </ul>
        </nav>
      </div>
    {{ /partial:layout/grid }} 
  {{ /partial:layout/inner }}
</footer>
{{ vite src="resources/js/app.js" }}
{{ livewire:scripts }}
<script async src="https://www.googletagmanager.com/gtag/js?id=G-32VDFPX3RZ"></script> 
<script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'G-32VDFPX3RZ'); </script>