@import "typo/webfonts.css";
@import "partials/header.css";
@import "partials/menu.css";
@import "partials/forms.css";
@import "vendor/swiper.css";
@import "vendor/zvv.css";
@import "theme.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] { display: none !important; }

main p:not(:last-child) {
  @apply mb-15 lg:mb-20
}

main a:not([role="button"]) {
  @apply underline underline-offset-2 hover:no-underline
}

main ul {
  @apply flex flex-col space-y-5 lg:space-y-10
}

main ul:not(:last-child) {
  @apply mb-20 lg:mb-30
}

main ul p {
  @apply inline
}

main li {
  @apply list-item bg-no-repeat bg-[length:7px_auto] bg-[left_top_0.225rem] pl-15 bg-[url('data:image/svg+xml,%3Csvg%20width=%277%27%20height=%278%27%20viewBox=%270%200%207%208%27%20fill=%27none%27%20xmlns=%27http://www.w3.org/2000/svg%27%3E%3Cpath%20d=%27M1%201L5.21115%203.10557C5.94819%203.4741%205.94819%204.5259%205.21115%204.89443L1%207%27%20stroke=%27%23000000%27%20stroke-linecap=%27round%27/%3E%3C/svg%3E')]
}

b, strong {
  @apply font-calibre-bold font-bold
}

table td {
  @apply align-top
}

/* Headings */
h1, h2 {
  @apply font-calibre-bold font-bold;
}

h3 {
  @apply font-calibre-semi font-semibold mb-5 text-sm lg:text-md;
}

/* Helpers */
.ratio-16-9 {
  @apply aspect-[16/9];
}

.ratio-16-10 {
  @apply aspect-[16/10];
}

.ratio-4-3 {
  @apply aspect-[4/3];
}

.ratio-1-1 {
  @apply aspect-square;
}

/* Wavy border */
.wavy-border {
  @apply border-[0.15rem] border-black rounded-[45px_55px_60px_25px_/_25px_35px_20px_55px] lg:rounded-[75px_90px_90px_35px_/_35px_55px_25px_75px];
}

.wavy-border-xs {
  @apply border-[0.15rem] border-black rounded-[45px_25px_60px_15px_/_15px_75px_15px_75px];
}

/* Animated lines */
@keyframes drawLine {
  0% {
    stroke-dashoffset: 1500;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

.animated-line-path {
  stroke-dasharray: 1500;
  stroke-dashoffset: 1500;
}

[data-observe].is-visible .animated-line-path {
  animation: drawLine 1s .5s ease-in-out forwards;
}

.line-position-top {
  @apply top-[200px]
}

.line-position-center {
  @apply top-[50%] -translate-y-1/2
}

.line-position-bottom {
  @apply bottom-0
}
