{{ editor }}

  {{ if type == 'text' }}
    {{ text }}
  {{ /if }}

  {{ if type == 'button' }}
    {{ partial:components/buttons/secondary url="{{ button_url }}" label="{{ button_text }}" is_button="false" }}
  {{ /if }}

  {{ if type == 'timetable' }}
    {{ partial:components/blocks/timetable }}
  {{ /if }}

  {{ if type == 'embed_code' }}
    {{ partial:components/blocks/embed_code }}
  {{ /if }}

  {{ if type == 'contact_form' }}
    {{ partial:components/blocks/contact_form }}
  {{ /if }}

  {{ if type == 'patron_form' }}
    {{ partial:components/blocks/patron_form }}
  {{ /if }}

  {{ if type == 'participant_form' }}
    {{ partial:components/blocks/participant_form }}
  {{ /if }}

  {{ if type == 'spacer' }}
    {{ partial:components/blocks/spacer }}
  {{ /if }}
{{ /editor }}