{{ partial:layout/inner }}
  {{ partial:layout/grid class="relative" }}
    <div class="md:col-span-5">
      {{ partial:components/headings/h1 class="mb-30 md:mb-0"}}
        {{ title | nl2br }}
      {{ /partial:components/headings/h1 }}
    </div>
    <div class="md:col-span-6 lg:col-span-5 text-pretty relative">
      {{ text }}
    </div>
    {{ if splash_group_tour }}
      <a href="" title="Gruppenführungen ganzjährig">
        {{ partial:icons/splash/group-tour class="hidden md:block md:w-90 xl:w-120 h-auto absolute z-60 md:-top-40 xl:-top-50 md:-right-20 xl:right-0" }}
      </a>
    {{ /if }}
    {{ if splash_opening_hours }}
      <a href="" title="Jeden Sonntag geöffnet">
        {{ partial:icons/splash/opening-hours class="hidden md:block md:w-120 xl:w-170 h-auto absolute z-50 md:-top-130 md:right-10 xl:-top-170 xl:right-60" }}
      </a>
    {{ /if }}
  {{ /partial:layout/grid }}

  {{ if teaser_exhibition }}
    <div class="wavy-border bg-mint px-25 lg:px-45 pt-30 lg:pt-35 mt-30 md:mt-45 lg:mt-60 ">
      {{ partial:layout/grid }}
        <div class="md:col-span-6 pb-20 lg:pb-35">
          {{ if teaser_title }}
            {{ partial:components/headings/h2 class="text-forest"}}
              {{ teaser_title }}
            {{ /partial:components/headings/h2 }}
          {{ /if }}
          {{ if teaser_subtitle }}
            {{ partial:components/headings/h3 class="text-forest text-pretty mb-10 lg:mb-25"}}
              {{ teaser_subtitle }}
            {{ /partial:components/headings/h3 }}
          {{ /if }}
          <div class="text-pretty">
            {{ teaser_text }}
          </div>
        </div>
        {{ if teaser_image }}
        <div class="md:col-span-6 md:flex md:justify-end md:w-full">
          {{ partial:media/image class="w-full h-auto" wrapperClass="max-w-[90%]" :image="teaser_image" }}
        </div>
        {{ /if }}
      {{ /partial:layout/grid }}
    </div>
  {{ /if }}

{{ /partial:layout/inner }}