{{ partial:layout/outer }}
  {{ partial:layout/inner }}
    {{ partial:layout/grid class="flex flex-col gap-y-30 md:gap-y-0 relative" }}
      {{ teasers }}
        <div class="{{ teaser_columns == 3 ? 'md:col-span-4' : 'md:col-span-3' }}">
          {{ if teaser_image }}
            {{ partial:media/image 
              class="w-full h-auto"
              wrapperClass="mb-10 md:mb-20" 
              preset="focal-16-10"
              sizes="['lg', 'md']"
              :image="teaser_image" }}
          {{ /if }}
          <h2 class="text-sm lg:text-md leading-[1.1] mb-5 lg:mb-10">
            {{ teaser_title }}
          </h2>
          <div>
            {{ if teaser_text }}
              {{ teaser_text }}
            {{ /if }}
          </div>
          {{ if links }}
            <div class="mt-10 md:mt-20 flex space-x-20">
              {{ links }}
                {{ partial:components/buttons/secondary label="{{ teaser_link_text ?? 'Mehr erfahren' }}" url="{{ teaser_link_url }}" }}
              {{ /links }}
            </div>
          {{ /if }}
        </div>
      {{ /teasers }}
    {{ /partial:layout/grid }}
  {{ /partial:layout/inner }}
{{ /partial:layout/outer }}