<div class="flex gap-x-10">
  {{ if social_media_accounts:facebook }}
    <a href="{{ social_media_accounts:facebook }}" target="_blank" title="Folgen Sie uns auf Facebook">
      {{ partial:icons/socials/facebook class="size-22" }}
    </a>
  {{ /if }}
  {{ if social_media_accounts:instagram }}
  <a href="{{ social_media_accounts:instagram }}" target="_blank" title="Folgen Sie uns auf Instagram">
    {{ partial:icons/socials/instagram class="size-22" }}
  </a>
  {{ /if }}
  {{ if social_media_accounts:youtube }}
    <a href="{{ social_media_accounts:youtube }}" target="_blank" title="Folgen Sie uns auf Youtube">
      {{ partial:icons/socials/youtube class="size-22" }}
    </a>
  {{ /if }}
</div>